body{
  font-family: "Helvetica";
  text-align: center;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

nav, footer {
  background-color: maroon;
  color: white;
  padding: 40px;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}
