//Color map
$colors: (
  'pink': #FF0060,
  'dark-pink': #DC005F,
  'green' : #3CDFE0,
  'dark-green' : #18B8C7,
  'off-white': #f5f5f5,
  'off-black': #2e2e2e,
  'deep-purple': #150B26,
  'off-purple': #A978FF
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

.pink {
 color: color('pink');
}
.dark-pink {
 color: color('dark-pink');
}
.green {
 color: color('green');
}
.dark-green {
 color: color('dark-green');
}
.off-white {
  color: color('off-white')
}
.off-black {
  color: color('off-black')
}
