//Variables
//Primary Color
$pink: #FF0060;
$dark-pink: #DC005F;

//Secondary Color
$green: #3CDFE0;
$dark-green: #18B8C7;

//Base White
$off-white: #f5f5f5;

//Base Black
$off-black: #2e2e2e;

//Negative Color
$deep-purple: #150B26;

//Fading Text
$off-purple: #A978FF;
