//Grid Dimensions
$grid-width-lrg: 1280px;
$grid-width-med: 768px;
$grid-width-sml: 320px;

$num-col-lrg: 12;
$num-col-med: 6;
$num-col-sml: 4;
$gutter: 30px;

.clearfix {
  &:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
 }
}

.row {
  @extend .clearfix;
  max-width: $grid-width;
}

.column {
  position: relative;
  float: left;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  &.no-overflow {
    overflow: hidden;
  }
  &.no-pad {
    padding-left: 0;
    padding-right: 0;
  }
}

.lrg-12 {
  width: $grid-width;
}
.lrg-6 {
  width: $grid-width/2;
}
.lrg-4 {
  width: $grid-width/3;
}
.lrg-2 {
  width: $grid-width/6;
}
