//Variables
$font-base: 14px;
$font-stack-titling: 'bungee', sans-serif;
$font-stack-body: 'effra', sans-serif;

body {
  color: color(off-black);
}

h1, h2, h3, h4, p, caption {
  margin: 0;
}

h1, h2 {
 font-family: $font-stack-titling;
}

h3, h4, p, caption {
  font-family: $font-stack-body;
}

h1 {
  font-size: $font-base*4.236;
  font-weight: 800;
}

h2 {
  font-size: $font-base*2.618;
  font-weight: 400;
}

h3 {
  font-size: $font-base*1.618;
}

h4 {
  font-size: $font-base;
  font-weight: bold;
}

p {
  font-size: $font-base;
  line-height: $font-base*1.75;
}

caption {
  font-size: $font-base*0.618;
  color: color(off-purple);
}

//Alignments
.left{
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-right: center;
}
