/* Variables */
$font-base: 14px;
$font-stack-titling: 'bungee', sans-serif;
$font-stack-text: 'effra', sans-serif;

body {
  color: color(off-black);
}

h1, h2, h3, h4, p, caption {
  margin: 0;
}

h1 {
  font-size: $font-base*4.236;
  font-weight: 800;
}

h2 {
  font-size: $font-base*2.618;
}

h3 {
  font-size: $font-base*1.618;
}

h4 {
  font-size: $font-base;
}

p {
  font-size: $font-base;
  line-height: $font-base*1.75;
}

caption {
  font-size: $font-base*0.618;
  color: color(off-purple);
}


/* Typefaces */
.titling {
  font-family: $font-stack-titling;
}
.text {
  font-family: $font-stack-text;
}

/* Type weights */
//Bungee Marquee
.type-800 {
  font-weight: 800;
}
//Bold
.type-700 {
  font-weight: 700;
}
//Regular/Book
.type-300 {
  font-weight: 300;
}
//Bungee Hairline
.type-100 {
  font-weight: 100;
}

/* Alignments */
.left{
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-right: center;
}
